* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
background-color: darkgray;
padding: 10px;
}

header h1 {
text-align: center;

}

header mark {
    display: inline-block;
    background-color: rgb(138, 146, 149);
    }    

menu > ul > li {
    background-color: #515151;
    display: inline-block;
    color: white;
    padding: 7px;
    width: 96px;
    text-align: center;
    margin-top: 12px;
    transition: color, 0.3s ease-in-out;
}

menu > ul > li:hover {
    background-color: #7d7d7d;
    text-decoration: underline;
}

menu a {
    text-decoration: none;
    color: white;
}

main {
    background-image: url(feynman.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

main > h1 {
margin-top: 12px;
text-indent: 6em;
}

section {
opacity: 0.7;
margin: auto;
width: 900px;
background-color: rgb(222, 222, 222);
border: 2px solid grey;
border-radius: 14px;
padding: 10px;
}

section mark {
background-color: rgb(202, 202, 173);
}

section h2 {
text-align: center;
font-variant: small-caps;
}

section h3 {
font-size: 1.5em;
}

section p {
text-indent: 24px;
font-size: 1.09em;
}
p::first-letter {
font-size: 1.2em;
}

section h4 {
font-size: 1.28em;
font-weight: 900;
text-indent: 3em;
}

section h2, h3, h4 {
margin-top: 12px;
}

/* ---------------------------------------------------------------------------- */

@media screen and (max-width: 578px) and (max-height: 1137px) {

    main {
        background-image: url(feynman.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        }
    
    section {
        opacity: 0.7;
        margin: auto;
        width: 490px;
        background-color: rgb(222, 222, 222);
        border: 2px solid grey;
        border-radius: 14px;
        padding: 10px;
        }
        
        section mark {
        background-color: rgb(202, 202, 173);
        }
        
        section h2 {
        text-align: center;
        font-variant: small-caps;
        }
        
        section h3 {
        font-size: 1.5em;
        }
        
        section p {
        text-indent: 24px;
        font-size: 1.09em;
        }
        p::first-letter {
        font-size: 1.2em;
        }
        
        section h4 {
        font-size: 1.28em;
        font-weight: 900;
        text-indent: 3em;
        }
        
        section h2, h3, h4 {
        margin-top: 12px;
        }
        
}